.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

table {
  margin: 10px 0 !important;
  width: 100%;
  font-family: verdana,arial,sans-serif;
  font-size: 13px;
  color: #333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.tab-table tr th {
  text-align: left;
}
table tr th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table tr td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

div.defaultContentContainer > span {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  text-decoration: underline;
}
div.defaultContentContainer > textarea {
  width: 100%;
  height: 120px;
}
div.defaultContentContainer > hr {
  border: 1px inset rgba(0, 0, 0, 0.53) !important;
  margin: 15px 0;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin: 10px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}
.alert .alert-heading {
  color: inherit;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.alert .close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.alert-danger, .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p, .alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

/**
 * iOS 6 style switch checkboxes
 * by Lea Verou http://lea.verou.me
 */
:root input[type="checkbox"] {
  /* :root here acting as a filter for older browsers */
  position: absolute;
  opacity: 0;
}
:root input[type="checkbox"] + div {
  display: inline-block;
  vertical-align: middle;
  width: 3em;
  height: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  margin: 0;
  background: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent), linear-gradient(90deg, #3d99f5 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  background-origin: border-box;
  background-clip: border-box;
  overflow: hidden;
  transition-duration: .4s;
  transition-property: padding, width, background-position, text-indent;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0 0.45em 0 0.1em rgba(0, 0, 0, 0.05) inset;
  font-size: 150%;
  /* change this and see how they adjust! */
}
:root input[type="checkbox"] + div:before {
  content: 'On';
  float: left;
  width: 1.65em;
  height: 1.65em;
  margin: -.1em;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: inherit;
  background: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  box-shadow: 0 0.1em 0.1em 0.1em rgba(255, 255, 255, 0.8) inset, 0 0 0.5em rgba(0, 0, 0, 0.3);
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-indent: -2.5em;
}
:root input[type="checkbox"] + div:after {
  content: 'Off';
  float: left;
  text-indent: .5em;
  color: rgba(0, 0, 0, 0.45);
  text-shadow: none;
}
:root input[type="checkbox"]:checked + div {
  padding-left: 2em;
  width: 1em;
  background-position: 0 0;
}
:root input[type="checkbox"]:active + div:before {
  background-color: #eee;
}
:root input[type="checkbox"]:focus + div {
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0 0.45em 0 0.1em rgba(0, 0, 0, 0.05) inset, 0 0 0.4em 1px rgba(255, 0, 0, 0.5);
}

:root input[type="checkbox"] + div:before, :root input[type="checkbox"] + div:after {
  font: bold 60%/1.9 sans-serif;
  text-transform: uppercase;
}

/**
 * Jquery Model & Loading
 */
div.custombox-modal {
  position: fixed !important;
}

.fyb-model-content {
  width: 850px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0 none;
}

.fyb-model-header {
  border-bottom: 1px solid #E5E5E5;
  padding: 15px;
}
.fyb-model-header .close {
  color: #bebebe;
  display: inline-block;
  float: right;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  vertical-align: top;
}

.fyb-model-body p,
.fyb-model-header h3 {
  margin: 0;
  vertical-align: top;
}

.fyb-model-body {
  padding: 20px;
  height: 600px;
  overflow-y: auto;
}
.fyb-model-body a {
  text-decoration: none;
}

div#editFiled.fyb-model-content {
  width: 600px !important;
}
div#editFiled .fyb-model-body {
  padding: 20px;
  height: 250px;
  overflow-y: auto;
}

div#deleteField.fyb-model-content {
  width: 400px !important;
}
div#deleteField .fyb-model-body {
  padding: 20px;
  height: 150px;
  overflow-y: auto;
}

.loader {
  display: block;
  margin: 40px 0;
  text-align: center;
}
.loader h4 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 19px;
}
.loader .bubble {
  animation: expand .75s ease-in-out infinite;
  border-radius: 20px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 6px;
  width: 10px;
  height: 10px;
}
.loader .bubble:nth-child(2) {
  animation-delay: 180ms;
  background: #27ae60;
}
.loader .bubble:nth-child(3) {
  animation-delay: 180ms;
  background: #f1c40f;
}
.loader .bubble:nth-child(4) {
  animation-delay: 360ms;
  background: #e67e22;
}
.loader .bubble:nth-child(5) {
  animation-delay: 540ms;
  background: #2980b9;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.55);
  }
}
/**
 * All Post Model
 */
div.fyb-model-body div#Single_CF_listing_wrapper {
  display: inline-block;
  margin-bottom: 20px;
}
div.fyb-model-body table#Single_CF_listing td a {
  text-decoration: none;
}
div.fyb-model-body table#Single_CF_listing td a.editIcon {
  font-size: 22px !important;
}
